[Unit]
Description=OCP Autoscaler Webhook + Watcher
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/autoscaler
Environment=KUBECONFIG=/opt/autoscaler/kubeconfig
Environment=CLUSTER_NAME=__CLUSTER_NAME__
Environment=BASTION_IP=__BASTION_IP__
Environment=BASTION_DNS_REFRESH_URL=http://__BASTION_IP__:8080/cgi-bin/refresh-dns.sh
Environment=RHCOS_AMI=__RHCOS_AMI__
Environment=KEY_PAIR_NAME=__KEY_PAIR_NAME__
Environment=RHCOS_DISK_SIZE_GB=__RHCOS_DISK_SIZE_GB__
Environment=NODE_INSTANCE_TYPE=__NODE_INSTANCE_TYPE__
Environment=SUBNET_ID=__SUBNET_ID__
Environment=NODE_SG_ID=__NODE_SG_ID__
Environment=IAM_PROFILE=__IAM_PROFILE__
Environment=REGION=__REGION__
Environment=AZ=__AZ__
Environment=MIN_WORKERS=2
Environment=MAX_WORKERS=10
Environment=WEBHOOK_URL=http://localhost:8080/scale
Environment=BASE_WORKER_IP=10.0.1
Environment=BASE_WORKER_OFFSET=24
Environment=WORKER_CAPACITY_MILLI=1900
Environment=STORAGE_MIN=3
Environment=STORAGE_MAX=8
Environment=STORAGE_INSTANCE_TYPE=t3.large
Environment=STORAGE_DISK_GB=200
Environment=BASE_STORAGE_OFFSET=40
ExecStart=/bin/bash -c 'python3 /opt/autoscaler/webhook.py & python3 /opt/autoscaler/watcher.py & python3 /opt/autoscaler/storage-watcher.py & wait -n'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target